.heading__primary {
  color: $color-white;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2rem;
  animation: moveInLeft 0.7s ease-out;
}

.heading__secondary {
  color: $color-white;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 2rem;
  letter-spacing: 0.2rem;
  animation: moveInRight 0.7s ease-out;
}

.heading__tertiary {
  color: $color-primary-dark;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 2rem;
  letter-spacing: 0.2rem;
  animation: moveInRight 0.7s ease-out;
}

/* Responsive breakpoints */
@media (max-width: $breakpoint-tablet) {
  .heading__primary {
    font-size: 4rem;
    margin: 1rem 0 3rem 0;
  }
  .heading__secondary {
    font-size: 2rem;
    margin: 1rem;
  }
}

@media (max-width: $breakpoint-mobile) {
  .heading__primary {
    font-size: 2rem;
    margin: 1rem 0 3rem;
  }
  .heading__secondary {
    font-size: 1.5rem;
    margin: 1rem 0 2rem;
  }
}
