// Colors
$color-primary: #f7db06;
$color-primary-light: #c97b3ffc;
$color-primary-dark: #d36e09;

$color-gray-light: #cbcaca;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// Box
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$border-radius: 10px;

// Fonts
$default-font-size: 1.6rem;

// Breakpoints
$breakpoint-tablet: 1007px;
$breakpoint-mobile: 640px;
