// COLORS
$color-primary: #f7db06;
$color-primary-light: #d38040a7;
$color-primary-dark: #d36e09;

$color-gray-light: #f7f7f7;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// Box
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// FONTS
$default-font-size: 1.6rem;
