div.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a.tour-link {
  text-decoration: none;
  color: $color-gray-dark;
  cursor: pointer;
}

h2.tourTitle {
  font-style: bold;
  text-align: center;
  height: 5%;
}

div.tourCard {
  margin: 3rem;
  border-radius: 30px;
  box-shadow: $box-shadow;
  padding: 25px 4rem;
  width: 200px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

img.tourImg {
  height: 50%;
  width: 140%;
  align-self: center;
}

p.tourPrice {
  text-align: right;
  font-size: 0.7rem;
  color: $color-primary-dark;
}

p.tourDescription {
  font-size: 1rem;
  text-align: justify;
  overflow: scroll;
  height: 20%;
}

p.tourReviews {
  color: $color-primary-dark;
  text-align: left;
}

p.tourId {
  font-size: 0.4em;
  text-align: right;
}
